@import 'global/variables.scss';

.page-header {
  @include font(18px, 700, 32px);
  color: $darkblue;

  &--js {
    position: absolute;
  }
}

@media (min-width: 660px) {
  .page-header {
    width: 100%;
  }
}

@media (min-width: 960px)  {
  .page-header {
    position: absolute;
    width: 100%;
  }
}


